<%= render "shared/header" %>

<div class="mypage">
  <div class="mypage-side">
    <ul class="profile">
        <li>
          <%= @nickname + "さんのページ" %>
        </li>
        <% if current_user == @user %>
          <li><%= link_to 'プロフィールを変更する', edit_user_registration_path %></li>
          <li><%= link_to '自分の絵を投稿する！', new_post_path %></li>
          <li><%= link_to 'メッセージを確認する！', "#" %></li>
        <% else %>
          <li><%= link_to 'メッセージを送る', "#" , class: "" %></li>
          <li><%= link_to @nickname + 'さんの合作一覧', "#" , class: "" %></li>
        <% end %>
    </ul>
  </div>

  <div class="user-post">
    <%= render partial: "posts/post", collection: @posts %>
  </div>

  <div class="paginate-detail"><%= paginate @posts %></div>
</div>

