<div class="form">
  <%= form_with(model: @post, local: true) do |f|%>
    <div class="form-image">
      <%= f.label :image, "投稿する絵を選択　→" %>
      <%= f.file_field :image %>
    </div>

    <div class="form-title">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
    </div>

    <div class="form-text">
      <%= f.label :text, "絵の説明、コメント" %>
      <%= f.text_area :text %>
    </div>

    <div class="button">
      <%= f.submit "投稿する！" ,class: "form-button"%>
    </div>
  <% end %>
</div>