<div class= "post-wrapper">
  <%= link_to image_tag(post.image, class: :card_img ), post_path(post.id), method: :get %>
  <div class="post-body">
    <%= link_to post.title.truncate(12), post_path(post.id), method: :get, class: :"post_title black-text" %>
    <div class="post-text">
      <%= post.text.truncate(150) %>
    </div>
    <%= link_to "投稿者:" + post.user.nickname, "/users/#{post.user.id}", method: :get, class: :"post_user orange-text" %>
  </div>
  <div id="like-<%= post.id %>", class="likes">
    <%= render partial: "posts/like", locals: { post: post } %>
  </div>
</div>
  